/* body {
  background: rgb(219, 241, 247);
} */

h1 {
  text-align: center;
  color: rgb(5, 170, 235);
  background-color: rgb(219, 241, 247);

}

* {
  position: relative;
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

input:hover {
  background: rgb(177, 221, 233);
}